# IntelliJ project files
/.idea/
/*.iml

# Compiled class files
/out/
/*.class

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Custom ignored folders
/shelf/

/httpRequests/
/dataSources/
/dataSources.local.xml
